{% extends 'kelas.html' %}

{% load static %}

{% block content_main %}
    <div class="table-responsive">
        <table class="table align-td-middle table-card">
            <thead>
            <tr>
                <th width="150px" colspan="2">Jadwal Pelajaran Hari Ini</th>
                <th width="200px">Jam Mulai</th>
                <th width="200px">Jam Berakhir</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1 A 2020/2021</td>
                <td>Pendidikan Pancasila dan Kewarganegaraan</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
            </tr>
            <tr>
                <td>1 A 2020/2021</td>
                <td>Bahasa Indonesia</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
            </tr>
            <tr>
                <td>1 A 2020/2021</td>
                <td>Pendidikan Jasmani dan Olah Raga</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
                <td><i class="mdi mdi-watch "></i> 8:20 a.m.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table align-td-middle table-card">
            <thead>
            <tr>
                <th width="150px" colspan="3">Siswa Kelas</th>
                <th width="200px">NIS</th>
                <th width="200px">NISN</th>
                <th width="200px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="avatar avatar-sm "><img src="{% static 'sister_web/img/users/user-1.jpg' %}" class="avatar-img avatar-sm rounded-circle" alt=""></div>
                </td>
                <td>Dian Andara</td>
                <td>Perempuan</td>
                <td>1213312</td>
                <td>1231223</td>
                <td class="align-middle">
                    <a href="invoice-single.html" class="btn btn-white">Tampilkan</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="avatar avatar-sm "><img src="{% static 'sister_web/img/users/user-3.jpg' %}" class="avatar-img avatar-sm rounded-circle" alt=""></div>
                </td>
                <td>Yura Yunita</td>
                <td>Perempuan</td>
                <td>1213312</td>
                <td>1231223</td>
                <td class="align-middle">
                    <a href="invoice-single.html" class="btn btn-white">Tampilkan</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="avatar avatar-sm "><img src="{% static 'sister_web/img/users/user-4.jpg' %}" class="avatar-img avatar-sm rounded-circle" alt=""></div>
                </td>
                <td>Hendra Gunawan</td>
                <td>Laki-Laki</td>
                <td>1213312</td>
                <td>1231223</td>
                <td class="align-middle">
                    <a href="invoice-single.html" class="btn btn-white">Tampilkan</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}