{% extends 'kelas.html' %}

{% load static %}


{% block content_main %}

<div class="card m-b-30 ">
    <div class="card-header">
        <h5 class="m-b-0">Rentang Nilai Kelas 1A 2020/2021</h5>
        <p class="m-b-0 opacity-50">Masukkan rentang nilai sesuai dengan kebutuhan.</p>
    </div>
    <div class="card-body pb-4">
        <!--Following uses  .form-dark class on parent to make controls appear -->
        <!--transparent in the container-->
        <form class="" action="#">
            <div class="table-responsive">
                <table class="table align-td-middle table-hover">
                    <thead>
                    <tr>
                        <th>Nilai Huruf</th>
                        <th>Predikat</th>
                        <th>Saran</th>
                        <th width="120px">Nilai Min</th>
                        <th width="120px">Nilai Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>A</td>
                        <td>Sangat Baik</td>
                        <td>Pertahankan</td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>Baik</td>
                        <td>Pertahankan</td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Cukup Baik</td>
                        <td>Pertahankan</td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Kurang</td>
                        <td>Pertahankan</td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>Sangat Kurang</td>
                        <td>Pertahankan</td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                        <td><input type="email" class="form-control" id="inputEmail4" placeholder="0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-success">Simpan Absensi</button>
            <a href="#" class="btn btn-white">Kembali</a>
            <br/>
        </form>
    </div>
</div>



{% endblock %}